<a href="https://colab.research.google.com/github/chcorreia/VentoNorte/blob/main/Vento1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula prática de SQL

Esse é um **Notebook Jupyter** do **Google Colab**.

Notebooks Jupyter são um tipo de programa que mistura blocos de texto com blocos de programação (geralmente usando linguagem Python ou R) que é muito usado em análise de dados.

Google Colab é um serviço que permite rodar e compartilhar notebooks gratuitamente, salvando-os no Google Drive ou no GitHub.

- Você pode rodar todas as células de uma vez selecionando `Ambiente de Execução / Executar tudo (Ctrl+F9)` no menu do Colab.
- Ou você pode executar uma célula de cada vez clicando na célula em teclando `Ctrl+Enter` (ou, se você estiver editando o conteúdo da célula, finalizar e rodar usando `Shift+Enter`.
- No nosso caso, vamos executar uma célula de cada vez, para ler com atenção as instruções antes de rodar cada célula.

```
Autor: Prof. Carlos H Correia
SENAI Pato Branco/PR
carlos.correia@sistemafiep.org.br
```

## Sobre esse Notebook - Vento1.ipynb

Criei esse notebook para que possamos praticar a linguagem SQL ao mesmo tempo que aprendemos uma ferramenta nova, que mais adiante podemos usar para fazer análises de dados em nossos bancos de dados.

## O banco de dados "Vento Norte"

A empresa "Vento Norte" de comércio é especializada em comerciar especialidades culinárias do mundo direto para a sua casa! Esse banco registra pedidos de compras que ligam clientes e fornecedores de vários lugares do planeta:

Esse banco é uma versão traduzida e convertida para o PostgresSQL do famoso banco "Northwind Traders" criado pela Microsoft para treinamento dos seus bancos de dados (Access, MS SQL Server).

O banco traduzido pode ser encontrado em
https://github.com/profcarlos-senai/VentoNorte

![Diagrama do banco VentoNorte](https://i.imgur.com/dbo8jbw.png)

## 1 - Conectando ao servidor

A Célula abaixo tem um código que precisa ser executado. Clique dentro da célula e tecle `Ctrl+Enter`.

In [ ]:
# carrega as extensões do python que permitem conectar ao servidor
!pip install ipython-sql psycopg2-binary

Os dois blocos de comandos a seguir são escritos em Python fazem a nossa conexão.

O nosso foco agora não é aprender Python, então só vamos rodar esse blocos e seguir pra frente.

Mesmo assim, tente ler esses comandos e comparar com as linguagens que você conhece, e tentar entender.

Depois de fazer a conexão poderemos escrever nossas células diretamente em SQL.

In [ ]:
# carrega a extensão que permite escrever SQL direto dentro das células
%load_ext sql

# configura o estilo visual das células de SQL
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%config SqlMagic.autopandas = True

In [ ]:
# importa o comando de digitar senhas
from getpass import getpass

# como esse notebook é público, vou pedir para digitar o servidor e a senha
# em vez de deixá-los dentro do código do programa on qualquer um possa ver
servidor = input("Servidor: ")
senha = getpass("Senha:")

# monta a string de conexão
CONEXAO = f"postgresql://postgres:{senha}@{servidor}:5432/vento"

# Conecta ao servidor
try:
    %sql $CONEXAO
    print("✅ Conexão bem-sucedida!")
except Exception as e:
    print("❌ Falha na conexão! Verifique suas credenciais e tente novamente.")

## 2 - Nosso primeiro comando em SQL

As células com comandos em SQL precisam ter o comando `%%sql` na primeira linha. Dali pra frente é só SQL puro.

In [ ]:
%%sql
-- esse é um comentário em sql
select *
from regiao;

## 3 - Agora é a sua vez de escrever

Edite a célula abaixo e coloque na primeira linha o comando `%%sql`.

Em seguida escreva uma query para listar todos os clientes do Brasil (agora com "s", eu terminei de traduzir).

Quando terminar a digitação, tecle `Shift+Enter` para executar o código.

In [ ]:
%%sql
select *
from cliente
where pais='Brasil';

A mesma query, mas ignorando maúsculas e minúsculas

In [ ]:
%%sql
select *
from cliente
where lower(pais) LIKE 'brasil';

## 4 - Exercícios de sala de aula

Escreva aqui os exercícios que o professor passar em sala de aula. Cada um deles deve ser feito em uma célula separada.

### Todos os clientes com "gourmet" no nome (ignorando maiúsculas)

Dica: use LIKE com o marcador '%' (que quer dizer qualquer combinação de caracteres)

In [ ]:
%%sql
select *
from cliente
where lower(empresa_nome) LIKE '%gourmet%';

### Listar todos os pedidos atrasados que falta mandar

In [ ]:
%%sql
select * from pedido
where (current_date > solicita_data) and (envio_data is null)
order by pedido_data;

Vamos formatar um pouco melhor. Liste as seguintes informações:
- id do pedido
- nome do cliente
- data prometido (solicita_data)
- dias de atraso

In [ ]:
%%sql
select p.id, c.empresa_nome, p.solicita_data,
  (CURRENT_DATE-p.solicita_data) as dias_atraso
from cliente c join pedido p on p.id_cliente = c.id
where (current_date > solicita_data) and (envio_data is null)
order by pedido_data;

Agora colocar o total em reais de cada pedido

In [ ]:
%%sql
select p.id, c.empresa_nome, p.solicita_data,
  (CURRENT_DATE-p.solicita_data) as dias_atraso,
  (select sum(valor) from item_pedido i where i.id_pedido = p.id) as total
from cliente c join pedido p on p.id_cliente = c.id
where (current_date > solicita_data) and (envio_data is null)
order by pedido_data;

# Tudo coisado aqui

### Pegar todos os clientes que tem "Gourmet" no nome da empresa

In [ ]:
%%sql
select 1

### Listar todos os produtos com estoque crítico que eu preciso encomendar mais

Remover do resultado os produtos esgotados no fornecedor, porque esses não adianta pedir mais porque não tem.

In [ ]:
%%sql
select 1

### Pra facilitar o processo de encomenda, faça uma lista contendo
- O nome da empresa, contato e fone do fornecedor
- Nome do produto, a quantidade que vou encomendar
- Quantas unidades vou ter quando chegar o pedido

(com as mesmas restrições do exercício anterior)

In [ ]:
%%sql
select 1

### Listar todos os pedidos com envio atrasado

In [ ]:
%%sql
select 1

In [ ]:
s%sql select * from categoria;